# **Movie Recommendation System**

### **Step 1: Import the data**

In [ ]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import sigmoid_kernel

In [ ]:
#Reading the Movies dataset file
movies = pd.read_csv('/content/tmdb_5000_movies.csv')
movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
movies.shape

(4803, 20)

In [ ]:
movies.info()

In [ ]:
movies.describe()

             budget             id  ...  vote_average    vote_count
count  4.803000e+03    4803.000000  ...   4803.000000   4803.000000
mean   2.904504e+07   57165.484281  ...      6.092172    690.217989
std    4.072239e+07   88694.614033  ...      1.194612   1234.585891
min    0.000000e+00       5.000000  ...      0.000000      0.000000
25%    7.900000e+05    9014.500000  ...      5.600000     54.000000
50%    1.500000e+07   14629.000000  ...      6.200000    235.000000
75%    4.000000e+07   58610.500000  ...      6.800000    737.000000
max    3.800000e+08  459488.000000  ...     10.000000  13752.000000

[8 rows x 7 columns]

### **Step 2: Data Preprocessing**

In [ ]:
movies.isna().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [ ]:
movies = movies[movies['overview'].notna()]
movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
movies = movies.drop(['production_companies','production_countries','release_date','spoken_languages','status','genres','id','budget','homepage','tagline','keywords','original_language','title'],axis=1)
# columns not required 
movies.head()

                             original_title  ... vote_count
0                                    Avatar  ...      11800
1  Pirates of the Caribbean: At World's End  ...       4500
2                                   Spectre  ...       4466
3                     The Dark Knight Rises  ...       9106
4                               John Carter  ...       2124

[5 rows x 7 columns]

### Step 3: Model Building

In [ ]:
movies['original_title'] = movies['original_title'].apply(lambda x:x.lower())
movies.head()

                             original_title  ... vote_count
0                                    avatar  ...      11800
1  pirates of the caribbean: at world's end  ...       4500
2                                   spectre  ...       4466
3                     the dark knight rises  ...       9106
4                               john carter  ...       2124

[5 rows x 7 columns]

In [ ]:
tfidf = TfidfVectorizer(min_df=3,ngram_range=(1,3),analyzer='word',stop_words='english')

In [ ]:
tf_matrix = tfidf.fit_transform(movies['overview'])
print(tf_matrix.shape)

(4800, 9919)

In [ ]:
sgm = sigmoid_kernel(tf_matrix,tf_matrix)
sgm

array([[0.76163649, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
        0.76159416],
       [0.76159416, 0.76163649, 0.76159416, ..., 0.76159519, 0.76159416,
        0.76159416],
       [0.76159416, 0.76159416, 0.76163649, ..., 0.76159484, 0.76159416,
        0.76159416],
       ...,
       [0.76159416, 0.76159519, 0.76159484, ..., 0.76163649, 0.76159488,
        0.76159447],
       [0.76159416, 0.76159416, 0.76159416, ..., 0.76159488, 0.76163649,
        0.76159467],
       [0.76159416, 0.76159416, 0.76159416, ..., 0.76159447, 0.76159467,
        0.76163649]])

In [ ]:
sgm[0]

array([0.76163649, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

In [ ]:
indices = pd.Series(movies.index,index=movies['original_title']).drop_duplicates()
indices

original_title
avatar                                         0
pirates of the caribbean: at world's end       1
spectre                                        2
the dark knight rises                          3
john carter                                    4
                                            ...
el mariachi                                 4798
newlyweds                                   4799
signed, sealed, delivered                   4800
shanghai calling                            4801
my date with drew                           4802
Length: 4800, dtype: int64

In [ ]:
def recommend(name,sig=sgm):
    idx = indices[name]
    movie_scores = list(enumerate(sig[idx]))
    movie_scores = sorted(movie_scores,key = lambda x:x[1],reverse=True)
    top_10_similar_movies_indices = movie_scores[1:11]
    movies_indices = [i[0] for i in top_10_similar_movies_indices]
    return movies['original_title'].iloc[movies_indices]

### **Step 4: Get Recommendations**

In [ ]:
name=input("Enter a movie name:")

Enter a movie name:interstellar

In [ ]:
print("Next movie recommended is :",recommend(name))

Next movie recommended is : 1709                           キャプテンハーロック
1352                              gattaca
643                         space cowboys
268                         stuart little
220                            prometheus
2648                       winnie mandela
4353                    the green inferno
4176    battle for the planet of the apes
2260                      all good things
1755                         joyful noise
Name: original_title, dtype: object